
* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

#main {
  max-width: 1000px;
  margin: auto;
}

#news-search {
  padding: 10px 5px;
}

#news-search input {
  outline: none;

  width: 100%;
  height: 50px;

  padding: 0px 20px;
  border-radius: 10px;
}

.news-container {
  cursor: pointer;
  margin: 5px;
  width: 490px;

  border-radius: 10px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.news-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#news-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news-img {
  padding: 0px 50px;
}

.news-img img {
  width: 400px;
  height: 200px;
}

/* News Title */
.news-spec div:first-child {  
  padding: 0px 30px;
  height: 50px;
  text-align: center;

  font-weight: 900;
  font-size: 12pt;
}

/* News Content */
.news-spec div:nth-child(2) {  
  padding: 0px 15px;
  height: 70px;

  font-size: 10pt;
}

/* News PublishedAt */
.news-spec div:nth-child(3) {
  padding: 10px;
  font-size: 9pt;

  color: rgb(153, 153, 153);
  text-align: right;
}